name: Android APK Build (Flet)

# يتم التشغيل عند الـ push على الفروع الرئيسية أو عند التشغيل اليدوي
on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

env:
  # معلومات إصدار التطبيق
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.22.2

jobs:
  build-apk:
    # سيتم البناء على بيئة Ubuntu لأنها أسرع وأرخص للـ APK
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install Python Dependencies
      run: |
        # تثبيت flet وحزم المشروع الأخرى
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup Flutter ${{ env.FLUTTER_VERSION }}
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Setup Java JDK (مطلوب لـ Android)
      uses: actions/setup-java@v4.2.1
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Flet Build APK
      run: |
        # تعطيل تحليلات Flutter لتقليل وقت البناء
        flutter config --no-analytics
        # أمر البناء لملف APK
        flet build apk --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        # اسم الملف الناتج في واجهة GitHub Actions
        name: apk-build-artifact
        # المسار الافتراضي لملف APK بعد البناء باستخدام flet
        path: build/apk
        if-no-files-found: warn
        overwrite: false
